<div class="user-info-display">
	<div class="row">
		<h1 class="mainheader"><%= @user.first_name << " " << @user.last_name %></h1>
	</div>
	<div class="row">
		<h3 class="subheader"><small><%= @user.email %></small></h3>
	</div>
</div>