<div class="row">
	<h2>Tests availible to take</h2>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Set Name</th>
				<th>From class</th>
			</tr>
		</thead>
		<tbody>
		<% @tests.each do |test| %>
			<tr>
				<td><%= test[1].id %></td>
				<td><%= link_to test[1].name, take_test_path(test[1].id) %></td>
				<td><%= test[0] %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
